---
import Layout from '@layouts/Layout.astro';
import MainVisual from '@components/MainVisual.astro';
---

<Layout title="初めての方へ | しのはら音楽教室">
    <MainVisual src="../../public/images/mainImages/for_beginners.png" />

    <div>
        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>

        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>
        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>

        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>
    </div>
</Layout>
