---
import Layout from '@layouts/Layout.astro';
import MainVisual from '@components/MainVisual.astro';
---

<Layout title="FAQ | しのはら音楽教室">
    <MainVisual src="../../public/images/mainImages/FAQ.png" />

    <div>
        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>

        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>
        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>

        <p>薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇薔薇</p>
    </div>
</Layout>
