---

---
<div>
    <!--モバイル-->
    <div class="flex md:hidden">
        <button type="button" class="z-10 space-y-2">
            <div class="w-6 h-0.5 bg-gray rounded" />
            <div class="w-6 h-0.5 bg-gray rounded" />
            <div class="w-6 h-0.5 bg-gray rounded" />
        </button>
    </div>

    <!--PC-->
    <nav class="hidden -mx-4 md:flex md:items-center">
        <a href="/about" class="block mx-4 text-black capitalize lg:mt-0 hover:text-gray-600">About</a>
        <a href="/lesson" class="block mx-4 text-black capitalize lg:mt-0 hover:text-gray-600">Lesson</a>
        <a href="/faqs" class="block mx-4 text-black capitalize lg:mt-0 hover:text-gray-600">FAQ</a>
        <a href="https://www.instagram.com/shino_m.studio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="block mx-4 text-black capitalize lg:mt-0 hover:text-gray-600">Instagram</a>
    </nav>
</div>
