---
import Wrapper from "./Wrapper.astro"
---

<Wrapper collor="bg-light-gray">
    <div class="md:flex md:flex-row-reverse md:justify-center md:gap-5">
        <div>
            <div class="py-5">
                <h2 class="text-center md:text-left font-bold font-aurora text-base md:text-h3">Access</h2>
            </div>

            <div class="text-sm text-gray md:text-base">
                <p>〒811-1362</p>
                <p>福岡県福岡市南区長住7丁目8-27</p>
            </div>
        </div>
        <div class="">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13301.27090013945!2d130.38535422885732!3d33.545120359403434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191f9c5ba3875%3A0x89108d893d3192f!2z44GX44Gu44Gv44KJ6Z-z5qW95pWZ5a6k!5e0!3m2!1sja!2sjp!4v1725793482497!5m2!1sja!2sjp"
                    width="400" height="300" style="border:0; filter: grayscale(50%)" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</Wrapper>
